---
import { Cloudinary } from '@cloudinary/url-gen';
import { getPublicId } from '@cloudinary-util/util';
import LayoutPage from '../layouts/LayoutPage.astro';

import Section from '../components/Section.astro';
import Container from '../components/Container.astro';

import '../styles/global.css';

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME
  }
});

const files = await Astro.glob('../../archives/*.json');

const archives = files.map( file => {
  const data = file.default;
  return data;
});
---

<LayoutPage>
  <h1 class="sr-only">Space Jelly Archive</h1>
  <Section>
    <Container>
      <ul class="grid">
        {archives.map(archive => {
          const width = 800;
          const height = 600;
          const publicId = getPublicId(archive.image.url);
          const url = cld.image(publicId)
                          .format('auto')
                          .quality('auto')
                          .addTransformation(`w_${width},h_${height},c_fill,g_north`)
                          .toURL();
          return (
            <li>
              <a href={archive.image.url}>
                <img width={width} height={height} src={url} alt="Screenshot" />
              </a>
              <p>{ new Date(archive.date).toLocaleString() }</p>
            </li>
          )
        })}
      </ul>
    </Container>
  </Section>
</LayoutPage>

<style lang="scss">
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
  @media (min-width: 720px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
</style>